name: Build alpine-tomcat Docker image
env:
  REGISTRY: docker.io
  TOMCAT_VERSION: "9.0.115"
  IMAGE_NAME: kanstin/alpine-tomcat

on:
  workflow_dispatch:
    inputs:
      do_publish:
        description: "Publish image after build?"
        required: true
        type: boolean
        default: false
      tomcat_version:
        description: "The version of Tomcat to include in the image."
        required: true
        type: string
        default: "9.0.115"
  workflow_call:
    inputs:
      tomcat_version:
        description: "The version of Tomcat to include in the image."
        required: true
        type: string
      do_publish:
        description: "Publish image after build?"
        required: false
        type: boolean
        default: true
  pull_request:
    branches: [ "main" ]
    paths:
      - "alpine-tomcat/Dockerfile"

jobs:
  determine-version:
    runs-on: ubuntu-24.04
    outputs:
      tomcat_version:  ${{ steps.set-version.outputs.TOMCAT_VERSION }}
      latest_tag:      ${{ steps.set-version.outputs.LATEST_TAG }}
      version_tag:     ${{ steps.set-version.outputs.VERSION_TAG }}
      major_minor_tag: ${{ steps.set-version.outputs.MAJOR_MINOR_TAG }}
      subject:          ${{ steps.set-version.outputs.SUBJECT }}
    steps:
      - id: set-version
        run: |
          if [[ "${{ github.event_name }}" == "workflow_dispatch" || "${{ github.event_name }}" == "workflow_call" ]]; then
              full_version="${{ inputs.tomcat_version || env.TOMCAT_VERSION }}"
          else
              full_version="${{ env.TOMCAT_VERSION }}"
          fi

          SUBJECT="${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}"
          cat << EOF >> "${GITHUB_OUTPUT}"
          TOMCAT_VERSION=${full_version}
          LATEST_TAG=${SUBJECT}:latest
          VERSION_TAG=${SUBJECT}:${full_version}
          MAJOR_MINOR_TAG=$SUBJECT:$(echo "${full_version}" | cut -d. -f1-2)
          SUBJECT=${SUBJECT}
          EOF

  build-push-amd64:
    needs: determine-version
    runs-on: ubuntu-24.04
    env:
      needToPush: ${{ github.ref == 'refs/heads/main' }}
    permissions:
      contents: read
      id-token: write
      attestations: write
      packages: write
    outputs:
      digest: ${{ steps.build-push-amd64.outputs.digest }}

    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3


      - name: Build and push
        id: build-push-amd64
        uses: docker/build-push-action@v6
        with:
          context: "{{defaultContext}}:alpine-tomcat"
          push: ${{ env.needToPush }}
          build-args: |
            TOMCAT_VERSION=${{ needs.determine-version.outputs.tomcat_version }}
          tags: |
            ${{ needs.determine-version.outputs.latest_tag }}-amd64
            ${{ needs.determine-version.outputs.version_tag }}-amd64
          provenance: mode=max
          sbom: true

      - name: Attest AMD64 image
        if: ${{ env.needToPush == 'true' }}
        uses: actions/attest-build-provenance@v2
        with:
          subject-name: ${{ needs.determine-version.outputs.subject }}
          subject-digest: ${{ steps.build-push-amd64.outputs.digest }}
          push-to-registry: true

  build-push-arm64:
    needs: determine-version
    runs-on: ubuntu-24.04-arm
    env:
      needToPush: ${{ github.ref == 'refs/heads/main' }}
    permissions:
      contents: read
      id-token: write
      attestations: write
      packages: write
    outputs:
      digest: ${{ steps.build-push-arm64.outputs.digest }}
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3


      - name: Build and push
        id: build-push-arm64
        uses: docker/build-push-action@v6
        with:
          context: "{{defaultContext}}:alpine-tomcat"
          push: ${{ env.needToPush }}
          build-args: |
            TOMCAT_VERSION=${{ needs.determine-version.outputs.tomcat_version }}
          tags: |
            ${{ needs.determine-version.outputs.latest_tag }}-arm64
            ${{ needs.determine-version.outputs.version_tag }}-arm64
          provenance: mode=max
          sbom: true

      - name: Attest ARM64 image
        if: ${{ env.needToPush == 'true' }}
        uses: actions/attest-build-provenance@v2
        with:
          subject-name: ${{ needs.determine-version.outputs.subject }}
          subject-digest: ${{ steps.build-push-arm64.outputs.digest }}
          push-to-registry: true

  create-push-manifests:
    if: ${{ github.event_name == 'workflow_dispatch' && inputs.do_publish || github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-24.04
    needs: [determine-version, build-push-arm64, build-push-amd64]
    permissions:
      contents: read
      id-token: write
      attestations: write
      packages: write
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: build and push multi-arch manifest
        uses: int128/docker-manifest-create-action@v2
        id: multi-arch
        with:
          tags: |
            ${{ needs.determine-version.outputs.version_tag }}
            ${{ needs.determine-version.outputs.major_minor_tag }}
            ${{ needs.determine-version.outputs.latest_tag }}
          sources: |
            ${{ needs.determine-version.outputs.latest_tag }}-arm64
            ${{ needs.determine-version.outputs.latest_tag }}-amd64


      - name: Attest multi-arch manifest
        uses: actions/attest-build-provenance@v2
        with:
          subject-name: ${{ needs.determine-version.outputs.subject }}
          subject-digest: ${{ steps.multi-arch.outputs.digest }}
          push-to-registry: true
